.cart {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cartItemImage {
  width: 100px;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 20px;
}

.cartItemDetails {
  flex-grow: 1;
}

.cartItemName {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.cartItemPrice {
  color: #555;
  margin-top: 5px;
}

.cart h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.cart p {
  font-size: 18px;
  color: #333;
  text-align: right;
}

.checkoutButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.checkoutButton:hover {
  background-color: #218838;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  max-width: 50px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton:hover {
  background-color: darkred;
}
