.cart {
  padding: 80px;
  background-color: #f8f9fa;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cartItemImage {
  width: 100px;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.cartItemDetails {
  flex-grow: 1;
}

.cartItemName {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.cartItemPrice {
  color: #555;
  margin-top: 5px;
}

.cart h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.cart p {
  font-size: 18px;
  color: #333;
  text-align: right;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #010101;
  border: 2px solid #28a745;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.button:hover {
  background-color: #090e0a;
  color: white;
}

.deleteButton {
  background-color: transparent;
  color: #070505;
  border: 2px solid #110d0e;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0;
  margin-left: 10px;
}

.deleteButton:hover {
  background-color: #131111;
  color: white;
}

.cartPage {
  padding: 80px 20px;
}

.emptyCartMessage {
  text-align: center;
  padding: 80px;
  background-color: #f8f9fa;
  border-radius: 8px;
  max-width: 600px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.emptyCartMessage h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.emptyCartMessage p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.shopNowButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.shopNowButton:hover {
  background-color: #218838;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
