.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
}

.loginForm {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: #44ab4b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.loginButton:hover {
  background-color: #0056b3;
}

.signupLink {
  text-align: center;
  margin-top: 10px;
}
