.checkout-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    padding-top: 200px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
  .checkout-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .checkout-form button:disabled {
    background-color: #ccc;
  }
  
  .StripeElement {
    padding: 12px 14px;
    margin: 50px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }
  
  .StripeElement--focus {
    border-color: #007bff;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
